/.idea/
*.iml
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings


# System files
.DS_Store
Thumbs.db
*.log

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/logs/trackstrava.log.2024-01-07.0.gz
/LOG_FILE_IS_UNDEFINED
/logs/trackstrava.log.2024-01-08.0.gz
/logs/trackstrava.log.2024-01-09.0.gz
/LOG_FILE_IS_UNDEFINED.2024-01-08.0.gz
/logs/trackgarmin.log.2024-01-21.0.gz
/logs/trackgarmin.log.2024-01-22.0.gz
/logs/trackgarmin.log.2024-01-23.0.gz
/logs/trackgarmin.log.2024-01-27.0.gz
/logs/trackstrava.log.2024-01-21.0.gz
/logs/trackstrava.log.2024-01-22.0.gz
/logs/trackstrava.log.2024-01-23.0.gz
/logs/trackstrava.log.2024-01-24.0.gz
/logs/trackstrava.log.2024-01-27.0.gz
/LOG_FILE_IS_UNDEFINED.2024-01-21.0.gz
/LOG_FILE_IS_UNDEFINED.2024-01-21.028129153380543.tmp
/logs/trackstrava.log.2024-01-28.0.gz
/logs/trackstrava.log.2024-01-29.0.gz
/logs/trackstrava.log.2024-01-30.0.gz
/logs/trackstrava.log.2024-02-01.0.gz
/logs/trackstrava.log.2024-02-02.0.gz
/logs/trackstrava.log.2024-02-03.0.gz
/HabitApp.postman_collection.json
